{% extends 'base.html' %}
{% load static %}
{% block title %}All posts{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock css %}

{% block content %}
    <section id="all-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}